<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240112734151-q61vsssu5mds0jf1fdkdqumg0h4h7ubc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240112734151-q61vsssu5mds0jf1fdkdqumg0h4h7ubc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>240112734151-olhk2qh1r84ahqgd824kcc1uab0kge3l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtFYX2Xv-hLUp4dpFdmaayLLHQFG35nX4</string>
	<key>GCM_SENDER_ID</key>
	<string>240112734151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thesis.hprms</string>
	<key>PROJECT_ID</key>
	<string>hprms-848cf</string>
	<key>STORAGE_BUCKET</key>
	<string>hprms-848cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240112734151:ios:8b856f1dc0d80aa1f853e2</string>
</dict>
</plist>